{% extends 'base.html' %}

{% block TITLE %}Authors list{% endblock TITLE %}

{% block BODY %}

<table border=3>
     <tr>
        <th>pk</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>actions</th>
    </tr>
     {% for obj in object_list %}
    <tr>
        <td> {{ obj.pk }} </td>
        <td> {{ obj.author_firstname }} </td>
        <td> {{ obj.author_lastname }} </td>
        <td> 
            <a href = "{% url "Author Update" pk=obj.pk %}">update</a>
            <a href = "{% url "Author View" pk=obj.pk %}">view</a>
            <a href = "{% url "Author Delete" pk=obj.pk %}">delete</a>
        </td>
     </tr>
    {% endfor %}
</table>


<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
    
         <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
    
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock BODY %}