{% extends 'base.html' %}

{% block TITLE %}Publishers list{% endblock TITLE %}

{% block BODY %}

<table class="table table-bordered">
    <tr>
        <th>pk</th>
        <th>Publisher name</th>
        <th>Publisher descripton</th>
        <th>actions</th>
    </tr>
    {% for obj in object_list %}
    <tr>
        <td> {{ obj.pk }} </td>
        <td> {{ obj.publisher_name }} </td>
        <td> {{ obj.publisher_description }} </td>
        <td> 
            <a href = "{% url "directories:Publisher Update" pk=obj.pk %}"><i class="bi bi-pencil-fill"></i></a>
            <a href = "{% url "directories:Publisher View" pk=obj.pk %}"><i class="bi bi-eye"></i></a>
            <a href = "{% url "directories:Publisher Delete" pk=obj.pk %}"><i class="bi bi-trash3"></i></a>
        </td>
    </tr>
    {% endfor %}
</table>



<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock BODY %}