{% extends 'base.html' %}

{% block TITLE %} Author view {% endblock TITLE %}

{% block BODY %}

<h1>Author # {{ object.pk }}</h1>
<b> Author name </b> {{ object.author_firstname }} {{ object.author_lastname }}
<br>
<b> Author biography </b> {{ object.author_bio }}
<div class="card" style="width: 18rem;">
    <img src="{{ object.picture.url }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{object.author_firstname}} {{object.author_lastname}}</h5>
      <p class="card-text">{{object.author_bio}}</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

{% endblock BODY %}