{% extends 'base.html' %}
{% load static %}

{% block TITLE %} Home page {% endblock TITLE %}

{% block BODY %}

    <h1>This is home page!</h1>
    username {{ user }} <br>
    anonymous {{ user.is_anonymous }} <br>
    authenticated {{ user.is_authenticated }} <br>
    first name {{ user.first_name }} <br>
    superuser {{ user.is_superuser }} <br>
    
    {% if  user.is_authenticated %}
    authenticated text
    {% endif %}
    <br>
    {% if  user.is_superuser %}
    superuser text
    {% endif %}
        

{% endblock BODY %}