{% extends 'base.html' %}
{% load static %}

{% block TITLE %} Home page {% endblock TITLE %}

{% block HEAD %}
  <style>
/* Стили для блока книги */
.book-block {
  display: inline-block;
  min-width: 18%;
  margin: 2% 2%;
  border-radius: 10px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}
.book-block:hover {
  border-radius: 10px;
  box-shadow: 0 0 20px 25px rgba(0, 0, 0, 0.2);
}
.card-body {
  text-align: left;
}
.autor-in-card{
  font-size: 12px;
  color: darkslategrey;
  font-weight: 300;
}
#price-in-card-homepage{
  color: darkgreen;
  font-size: 26px;
  font-weight: 650;
}
#title_book{
  font-weight: 600;
  width: 218px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 0;
}
</style>
{% endblock HEAD %}



  {% block BODY %} 

  <h1>This is home page!</h1>
  username {{ user }} <br>
  anonymous {{ user.is_anonymous }} <br>
  authenticated {{ user.is_authenticated }} <br>
  first name {{ user.first_name }} <br>
  superuser {{ user.is_superuser }} <br>
 is stuff {{ user.is_stuff }} <br>
  
  {% comment %} {% if  user.is_authenticated %}
  authenticated text
  {% endif %}
  <br>
  {% if  user.is_superuser %}
  superuser text
  {% endif %}
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% for object in object_list %}
    <div class="col" style="width: 30%; height: 500px;">
      <a href="{% url 'books:book_view' pk=object.pk %}" style="text-decoration: none; color: rgba(255, 255, 255, 0.55);">
        <div class="row">
            <div class="col-md-3">           
                <div class="card-sl">
                    <div class="card-image">
                      <img src="{{ object.book_picture_med }}" width="300" height ="300" style="max-width: 300px; object-fit: fill" class="card-img-top" alt=" ">
                    </div>

                    
                    <div class="card-heading">
                      {{object.book_name}}
                    </div>
                    <div class="card-text">
                        Автор: {{object.book_author}} <br>
                        Жанр: {{object.book_genre}} <br>
                        Серия: {{object.book_serie}} <br>
                        Рейтинг:{{object.book_rating}} <br>
                    </div>
                    <div class="card-text">
                      {{object.book_price}} BYN
                    </div>
                    <a href="{% url 'books:book_view' pk=object.pk %}" class="card-button">Подробнее</a>
                    
                </div>
              </div>
                  {% endfor %} 
            </div>
        </div>
    </div>
        <br>
    {% endcomment %}
        <div class="album py-5 bg-body-tertiary">
          <div class="container">
        
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              {% for object in object_list %}
        
                <div class="col" style="width: 25%; height: 600px;">
                  <div class="card-sl">
                  <div class="card-image">
                     <img src="{{ object.book_picture_med }}" width="300" height ="300" style="max-width: 300px; object-fit: fill" class="card-img-top" alt="No image"> 
                  </div>

                  
                  <div class="card-heading">
                    {{object.book_name}}
                  </div>
                  <div class="card-text">
                      Автор: {{object.book_author}} <br>
                      Жанр: {{object.book_genre}} <br>
                      Серия: {{object.book_serie}} <br>
                      Рейтинг:{{object.book_rating}} <br>
                  </div>
                  <div class="card-text">
                    {{object.book_price}} BYN
                  </div>
                  <a href="{% url 'books:book_view' pk=object.pk %}" class="card-button">Подробнее</a>
                  <div class="d-flex justify-content-between align-items-center">
                  
              </div>
                      
                        
                  </div>
                </div>
              {% endfor %}
              
             
              
            </div>
          </div>
        </div> 



{% endblock BODY %}