{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block TITLE %}Edit profile{% endblock TITLE %}

{% block BODY %}

  <p style=" font-size: 2em; font-weight: bold; float: center;">Изменение профиля: {{ object }}</p>

  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div style ="justify-content: center; align-items: center; display: flex;">
      <div style="width: 700px; height: 100%; text-align: left;">
        {{ form|crispy }}
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Подтвердить</button>
  </form>
{% endblock BODY %}